# macOS
.DS_Store

# Entornos virtuales Python
venv/
env/
.env/

# Caché y compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ficheros de la app y empaquetado
config.json
.spotify-cache
dist/
build/
*.spec

# IDEs
.idea/
.vscode/
.gemini/
