# macOS
.DS_Store

# Entornos virtuales Python
venv/
env/
.env/

# Caché y compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ficheros de la app y empaquetado
config.json
.spotify-cache
cd_cache.json
skins/
dist/
build/
*.spec
_build_data_backup/
_version_info.txt

# IDEs
.idea/
.vscode/
.gemini/
